.Create {
    background: rgb(86,33,194);
    background: linear-gradient(157deg, rgba(86,33,194,1) 0%, rgba(184,66,211,1) 100%);
    min-height: 100vh;
    display: block;
    padding-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}

.Nav {
    text-align: center;
}
.navimg{
    width: 90%;
  }

.card {
    margin: 10%;
}

.h2 {
    color: rgb(86,33,194);
}